<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="middle_finger">

  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/middle_finger/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/middle_finger/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/middle_finger/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/middle_finger/mechanical_info.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/middle_finger/mass_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/gazebo_hand_contact.xacro"/>

  <xacro:macro name="make_middle_finger" params="prefix reflect middle_finger_root_link">

    <xacro:standard_link name="${prefix}MiddleFingerPitch1Link" 
                    mass="${MiddleFingerPitch1LinkMass}" 
                    origin_xyz="0 ${reflect*0.02} 0"
                    ixx="${MiddleFingerPitch1LinkInertia_IXX}" ixy="${reflect*0.000000042}" ixz="${reflect*0.000000011}"
                    iyy="${MiddleFingerPitch1LinkInertia_IYY}" iyz="${MiddleFingerPitch1LinkInertia_IYZ}" izz="${MiddleFingerPitch1LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${fingers_mesh_dir}/middlej1_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/middlej1_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}MiddleFingerPitch1Link" />

    <xacro:standard_link name="${prefix}MiddleFingerPitch2Link" 
                    mass="${MiddleFingerPitch2LinkMass}" 
                    origin_xyz="0 ${reflect*0.013} 0"
                    ixx="${MiddleFingerPitch2LinkInertia_IXX}" ixy="${reflect*-0.000000034}" ixz="${reflect*0.000000011}"
                    iyy="${MiddleFingerPitch2LinkInertia_IYY}" iyz="${MiddleFingerPitch2LinkInertia_IYZ}" izz="${MiddleFingerPitch2LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${fingers_mesh_dir}/middlej2_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/middlej2_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}MiddleFingerPitch2Link" />

    <xacro:standard_link name="${prefix}MiddleFingerPitch3Link" 
                    mass="${MiddleFingerPitch3LinkMass}" 
                    origin_xyz="0 ${reflect*0.01} 0"
                    ixx="${MiddleFingerPitch3LinkInertia_IXX}" ixy="${reflect*0.000000009}" ixz="${reflect*0.000000001}"
                    iyy="${MiddleFingerPitch3LinkInertia_IYY}" iyz="${MiddleFingerPitch3LinkInertia_IYZ}" izz="${MiddleFingerPitch3LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${fingers_mesh_dir}/middlej3_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/middlej3_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}MiddleFingerPitch3Link" />

    <xacro:revolute_joint_ex jointName="${prefix}${MiddleFingerPitch1JointName}" 
                          parent="${middle_finger_root_link}" child="${prefix}MiddleFingerPitch1Link"
                          origin_xyz="${MiddleFingerPitch1FrameOrigin_X} ${reflect * 0.097} ${MiddleFingerPitch1FrameOrigin_Z}" 
                          origin_rpy="${reflect * -0.1222} ${MiddleFingerPitch1FrameOrientation_Pitch} ${MiddleFingerPitch1FrameOrientation_Yaw}"
                          axis="${MiddleFingerPitch1RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${MiddleFingerPitch1TorqueLimit}" lower="${-reflect * MiddleFingerPitch1PositionLimit_Upper}" upper="${-reflect * MiddleFingerPitch1PositionLimit_Lower}" velocity="${MiddleFingerPitch1VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${MiddleFingerPitch1TorqueLimit}" lower="${MiddleFingerPitch1PositionLimit_Lower}" upper="${MiddleFingerPitch1PositionLimit_Upper}" velocity="${MiddleFingerPitch1VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${MiddleFingerPitch1Kp}" Kd="${MiddleFingerPitch1Kd}" Ki="${MiddleFingerPitch1Ki}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex_mimic jointName="${prefix}${MiddleFingerPitch2JointName}"
                          parent="${prefix}MiddleFingerPitch1Link" child="${prefix}MiddleFingerPitch2Link"
                          origin_xyz="${MiddleFingerPitch2FrameOrigin_X} ${reflect * 0.0381} ${MiddleFingerPitch2FrameOrigin_Z}" 
                          origin_rpy="${MiddleFingerPitch2FrameOrientation_Roll} ${MiddleFingerPitch2FrameOrientation_Pitch} ${MiddleFingerPitch2FrameOrientation_Yaw}"
                          axis="${MiddleFingerPitch2RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${MiddleFingerPitch2TorqueLimit}" lower="${-reflect * MiddleFingerPitch2PositionLimit_Upper}" upper="${-reflect * MiddleFingerPitch2PositionLimit_Lower}" velocity="${MiddleFingerPitch2VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${MiddleFingerPitch2TorqueLimit}" lower="${MiddleFingerPitch2PositionLimit_Lower}" upper="${MiddleFingerPitch2PositionLimit_Upper}" velocity="${MiddleFingerPitch2VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${MiddleFingerPitch1Kp}" Kd="${MiddleFingerPitch1Kd}" Ki="${MiddleFingerPitch1Ki}"/>
        <mimic joint="${prefix}${MiddleFingerPitch1JointName}" multiplier="${Pulley2Ratio}" offset="0"/>
    </xacro:revolute_joint_ex_mimic>

    <xacro:revolute_joint_ex_mimic jointName="${prefix}${MiddleFingerPitch3JointName}"
                          parent="${prefix}MiddleFingerPitch2Link" child="${prefix}MiddleFingerPitch3Link"
                          origin_xyz="${MiddleFingerPitch3FrameOrigin_X} ${reflect * 0.0229} ${MiddleFingerPitch3FrameOrigin_Z}" 
                          origin_rpy="${MiddleFingerPitch3FrameOrientation_Roll} ${MiddleFingerPitch3FrameOrientation_Pitch} ${MiddleFingerPitch3FrameOrientation_Yaw}"
                          axis="${MiddleFingerPitch3RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${MiddleFingerPitch3TorqueLimit}" lower="${-reflect * MiddleFingerPitch3PositionLimit_Upper}" upper="${-reflect * MiddleFingerPitch3PositionLimit_Lower}" velocity="${MiddleFingerPitch3VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${MiddleFingerPitch3TorqueLimit}" lower="${MiddleFingerPitch3PositionLimit_Lower}" upper="${MiddleFingerPitch3PositionLimit_Upper}" velocity="${MiddleFingerPitch3VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${MiddleFingerPitch1Kp}" Kd="${MiddleFingerPitch1Kd}" Ki="${MiddleFingerPitch1Ki}"/>
        <mimic joint="${prefix}${MiddleFingerPitch1JointName}" multiplier="${Pulley3Ratio}" offset="0"/>
    </xacro:revolute_joint_ex_mimic>
  </xacro:macro>

  <xacro:macro name="middle_finger_transmissions_hw" params="prefix reflect">
    <xacro:simple_forearm_position_transmission jointName="${prefix}${MiddleFingerPitch1JointName}" actuatorName="${prefix}MiddlePitch1Actuator" nodeName="/${prefix}${MiddleFingerPitch1Node}" actuatorApi="${MiddleFingerProximalApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${prefix}${MiddleFingerPitch2JointName}" actuatorName="${prefix}MiddlePitch2Actuator" nodeName="/${prefix}${MiddleFingerPitch2Node}" actuatorApi="${MiddleFingerMedialApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${prefix}${MiddleFingerPitch3JointName}" actuatorName="${prefix}MiddlePitch3Actuator" nodeName="/${prefix}${MiddleFingerPitch3Node}" actuatorApi="${MiddleFingerDistalApi}" reflect="${reflect}"/>
  </xacro:macro>

  <xacro:macro name="middle_finger_transmissions_sim" params="prefix">
    <xacro:simple_effort_transmission_with_three_child_joints jointName="${prefix}${MiddleFingerPitch1ActuatorName}" actuatorName="${prefix}${MiddleFingerPitch1ActuatorName}" nodeName="/${prefix}${MiddleFingerNode}" actuatorApi="${SimApi}" child1JointName="${prefix}${MiddleFingerPitch1JointName}" child1Ratio="${Pulley1Ratio}" child2JointName="${prefix}${MiddleFingerPitch2JointName}" child2Ratio="${Pulley2Ratio}" child3JointName="${prefix}${MiddleFingerPitch3JointName}" child3Ratio="${Pulley3Ratio}"/>
    
    <xacro:simple_passive_transmission jointName="${prefix}${MiddleFingerPitch1JointName}" nodeName="/${prefix}${MiddleFingerPitch1Node}" apiName="${SimApi}" reflect="1"/>
    <xacro:simple_passive_transmission jointName="${prefix}${MiddleFingerPitch2JointName}" nodeName="/${prefix}${MiddleFingerPitch2Node}" apiName="${SimApi}" reflect="1"/>
    <xacro:simple_passive_transmission jointName="${prefix}${MiddleFingerPitch3JointName}" nodeName="/${prefix}${MiddleFingerPitch3Node}" apiName="${SimApi}" reflect="1"/>
  </xacro:macro>

</robot>
