<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="thumb">
  
  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/mass_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/mechanical_info.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/gains.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/gazebo_hand_contact.xacro"/>

  <xacro:macro name="make_thumb" params="prefix reflect thumb_root_link">
    <xacro:standard_link name="${prefix}ThumbRollLink"
                    mass="${ThumbRollLinkMass}"
                    origin_xyz="0 ${reflect*0} 0.01"
                    ixx="${ThumbRollLinkInertia_IXX}" ixy="${ThumbRollLinkInertia_IXY}" ixz="${reflect*9.5523207e-8}"
                    iyy="${ThumbRollLinkInertia_IYY}" iyz="${reflect*-3.663718e-8}" izz="${ThumbRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${fingers_mesh_dir}/thumbj1_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/thumbj1_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}ThumbRollLink" />

    <xacro:standard_link name="${prefix}ThumbPitch1Link"
                    mass="${ThumbPitch1LinkMass}"
                    origin_xyz="0.0 ${reflect*0.005} 0.02"
                    ixx="${ThumbPitch1LinkInertia_IXX}" ixy="${ThumbPitch1LinkInertia_IXY}" ixz="${reflect*0.0}"
                    iyy="${ThumbPitch1LinkInertia_IYY}" iyz="${reflect*-0.0}" izz="${ThumbPitch1LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${fingers_mesh_dir}/thumbj2_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/thumbj2_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}ThumbPitch1Link" />

    <xacro:standard_link name="${prefix}ThumbPitch2Link"
                    mass="${ThumbPitch2LinkMass}"
                    origin_xyz="0 ${reflect*0.004} 0.017"
                    ixx="${ThumbPitch2LinkInertia_IXX}" ixy="${ThumbPitch2LinkInertia_IXY}" ixz="${reflect*0.0}"
                    iyy="${ThumbPitch2LinkInertia_IYY}" iyz="${reflect*0.0}" izz="${ThumbPitch2LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${fingers_mesh_dir}/thumbj3_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/thumbj3_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}ThumbPitch2Link" />

    <xacro:standard_link name="${prefix}ThumbPitch3Link"
                    mass="${ThumbPitch3LinkMass}"
                    origin_xyz="0 ${reflect*0.004} 0.01"
                    ixx="${ThumbPitch3LinkInertia_IXX}" ixy="${ThumbPitch3LinkInertia_IXY}" ixz="${ThumbPitch3LinkInertia_IXZ}"
                    iyy="${ThumbPitch3LinkInertia_IYY}" iyz="${ThumbPitch3LinkInertia_IYZ}" izz="${ThumbPitch3LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${fingers_mesh_dir}/thumbj4_${prefix}.dae"
                    collision_mesh="${fingers_mesh_dir}/thumbj4_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}ThumbPitch3Link" />

    <xacro:revolute_joint_ex jointName="${prefix}${ThumbRollJointName}"
                          parent="${thumb_root_link}" child="${prefix}ThumbRollLink"
                          origin_xyz="${ThumbRollFrameOrigin_X} ${reflect * 0.0351} ${ThumbRollFrameOrigin_Z}"
                          origin_rpy="${reflect * -0.3491} ${ThumbRollFrameOrientation_Pitch} ${ThumbRollFrameOrientation_Yaw}"
                          axis="${ThumbRollRotationAxis}" damping="0.5" friction="0.5">
        <limit effort="${ThumbRollTorqueLimit}" lower="${ThumbRollPositionLimit_Lower}" upper="${ThumbRollPositionLimit_Upper}" velocity="${ThumbRollVelocityLimit}"/>
         <controller_gains Kp="${ThumbRollKp}" Kd="${ThumbRollKd}" Ki="${ThumbRollKi}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ThumbPitch1JointName}"
                          parent="${prefix}ThumbRollLink" child="${prefix}ThumbPitch1Link"
                          origin_xyz="${ThumbPitch1FrameOrigin_X} ${ThumbPitch1FrameOrigin_Y} ${ThumbPitch1FrameOrigin_Z}"
                          origin_rpy="${reflect * 0.3491} ${ThumbPitch1FrameOrientation_Pitch} ${ThumbPitch1FrameOrientation_Yaw}"
                          axis="${ThumbPitch1RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch1TorqueLimit}" lower="${-reflect * ThumbPitch1PositionLimit_Upper}" upper="${-reflect * ThumbPitch1PositionLimit_Lower}" velocity="${ThumbPitch1VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch1TorqueLimit}" lower="${ThumbPitch1PositionLimit_Lower}" upper="${ThumbPitch1PositionLimit_Upper}" velocity="${ThumbPitch1VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${ThumbPitch1Kp}" Kd="${ThumbPitch1Kd}" Ki="${ThumbPitch1Ki}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex_mimic jointName="${prefix}${ThumbPitch2JointName}"
                          parent="${prefix}ThumbPitch1Link" child="${prefix}ThumbPitch2Link"
                          origin_xyz="${ThumbPitch2FrameOrigin_X} ${reflect * 0.0066} ${ThumbPitch2FrameOrigin_Z}"
                          origin_rpy="${ThumbPitch2FrameOrientation_Roll} ${ThumbPitch2FrameOrientation_Pitch} ${ThumbPitch2FrameOrientation_Yaw}"
                          axis="${ThumbPitch2RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch2TorqueLimit}" lower="${-reflect * ThumbPitch2PositionLimit_Upper}" upper="${-reflect * ThumbPitch2PositionLimit_Lower}" velocity="${ThumbPitch2VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch2TorqueLimit}" lower="${ThumbPitch2PositionLimit_Lower}" upper="${ThumbPitch2PositionLimit_Upper}" velocity="${ThumbPitch2VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${ThumbPitch2Kp}" Kd="${ThumbPitch2Kd}" Ki="${ThumbPitch2Ki}"/>
        <mimic joint="${prefix}${ThumbPitch1JointName}" multiplier="${Pulley2Ratio}" offset="0"/>
    </xacro:revolute_joint_ex_mimic>

    <xacro:revolute_joint_ex_mimic jointName="${prefix}${ThumbPitch3JointName}"
                          parent="${prefix}ThumbPitch2Link" child="${prefix}ThumbPitch3Link"
                          origin_xyz="${ThumbPitch3FrameOrigin_X} ${reflect * 0.0049} ${ThumbPitch3FrameOrigin_Z}"
                          origin_rpy="${ThumbPitch3FrameOrientation_Roll} ${ThumbPitch3FrameOrientation_Pitch} ${ThumbPitch3FrameOrientation_Yaw}"
                          axis="${ThumbPitch3RotationAxis}" damping="0.5" friction="0.5">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch3TorqueLimit}" lower="${-reflect * ThumbPitch3PositionLimit_Upper}" upper="${-reflect * ThumbPitch3PositionLimit_Lower}" velocity="${ThumbPitch3VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch3TorqueLimit}" lower="${ThumbPitch3PositionLimit_Lower}" upper="${ThumbPitch3PositionLimit_Upper}" velocity="${ThumbPitch3VelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${ThumbPitch3Kp}" Kd="${ThumbPitch3Kd}" Ki="${ThumbPitch3Ki}"/>
        <mimic joint="${prefix}${ThumbPitch1JointName}" multiplier="${Pulley3Ratio}" offset="0"/>
    </xacro:revolute_joint_ex_mimic>
  </xacro:macro>

  <xacro:macro name="thumb_transmissions_hw" params="prefix reflect">
    <xacro:simple_position_transmission jointName="${prefix}${ThumbRollJointName}" actuatorName="${prefix}ThumbRollActuator" nodeName="/${prefix}${ThumbRollSenseNode}" actuatorApi="${ThumbFingerRollApi}"/>
    <xacro:simple_forearm_position_transmission jointName="${prefix}${ThumbPitch1JointName}" actuatorName="${prefix}ThumbPitch1Actuator" nodeName="/${prefix}${ThumbPitch1Node}" actuatorApi="${ThumbFingerProximalApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${prefix}${ThumbPitch2JointName}" actuatorName="${prefix}ThumbPitch2Actuator" nodeName="/${prefix}${ThumbPitch2Node}" actuatorApi="${ThumbFingerMedialApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${prefix}${ThumbPitch3JointName}" actuatorName="${prefix}ThumbPitch3Actuator" nodeName="/${prefix}${ThumbPitch3Node}" actuatorApi="${ThumbFingerDistalApi}" reflect="${reflect}"/>
  </xacro:macro>

  <xacro:macro name="thumb_transmissions_sim" params="prefix">
    <xacro:simple_effort_transmission_with_one_child_joint jointName="${prefix}${ThumbRollActuatorName}" actuatorName="${prefix}${ThumbRollActuatorName}" nodeName="/${prefix}${ThumbRollNode}" actuatorApi="${SimApi}" child1JointName="${prefix}${ThumbRollJointName}" child1Ratio="1"/>    

    <xacro:simple_transmission jointName="${prefix}${ThumbPitch1ActuatorName}" actuatorName="${prefix}${ThumbPitch1ActuatorName}" nodeName="/${prefix}${ThumbProximalNode}" actuatorApi="${SimApi}" />

    <xacro:simple_effort_transmission_with_three_child_joints jointName="${prefix}${ThumbPitch2ActuatorName}" actuatorName="${prefix}${ThumbPitch2ActuatorName}" nodeName="/${prefix}${ThumbDistalNode}" actuatorApi="${SimApi}" child1JointName="${prefix}${ThumbPitch1JointName}" child1Ratio="${Pulley1Ratio}" child2JointName="${prefix}${ThumbPitch2JointName}" child2Ratio="${Pulley2Ratio}" child3JointName="${prefix}${ThumbPitch3JointName}" child3Ratio="${Pulley3Ratio}"/>
    
    <xacro:simple_passive_transmission jointName="${prefix}${ThumbRollJointName}" nodeName="/${prefix}${ThumbRollSenseNode}" apiName="${SimApi}" reflect="1"/>
    <xacro:simple_passive_transmission jointName="${prefix}${ThumbPitch1JointName}" nodeName="/${prefix}${ThumbPitch2Node}" apiName="${SimApi}" reflect="1"/>
    <xacro:simple_passive_transmission jointName="${prefix}${ThumbPitch2JointName}" nodeName="/${prefix}${ThumbPitch2Node}" apiName="${SimApi}" reflect="1"/>
    <xacro:simple_passive_transmission jointName="${prefix}${ThumbPitch3JointName}" nodeName="/${prefix}${ThumbPitch3Node}" apiName="${SimApi}" reflect="1"/>
  </xacro:macro>

</robot>
