<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bandit_serials">

	<xacro:property name="rightArmJ1SerialNumber" value="v_a_021" />
	<xacro:property name="rightArmJ2SerialNumber" value="v_b_019" />
	<xacro:property name="rightArmJ3SerialNumber" value="v_f_022" />
	<xacro:property name="rightArmJ4SerialNumber" value="v_f_021" />
	<xacro:property name="rightArmJ5SerialNumber" value="v_g_017" />
	<xacro:property name="right_hand_serial_number" value="v_h_008" />

	<xacro:property name="leftForearmSerialNumber" value="v_h_005"/>
    <xacro:property name="rightForearmSerialNumber" value="v_h_008"/>
    
</robot>
