<robot xmlns:xacro="http://ros.org/wiki/xacro" name="arm">

    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>

    <xacro:macro name="arm" params="prefix reflect j1_serial_number j2_serial_number j3_serial_number j4_serial_number j5_serial_number forearm_serial_number" >
    	<xacro:simple_mechanism name="${ShoulderPitchJointName}" serial_number="${j1_serial_number}" node="${ShoulderPitchNode}" calibration_angle="${ShoulderPitchCalibrationAngle}"/>

    	<xacro:simple_mechanism name="${ShoulderRollJointName}" serial_number="${j2_serial_number}" node="${ShoulderRollNode}" calibration_angle="${ShoulderRollCalibrationAngle}"/>

    	<xacro:simple_mechanism name="${ShoulderYawJointName}" serial_number="${j3_serial_number}" node="${ShoulderYawNode}" calibration_angle="${ShoulderYawCalibrationAngle}"/>

    	<xacro:simple_mechanism name="${ElbowPitchJointName}" serial_number="${j4_serial_number}" node="${ElbowPitchNode}" calibration_angle="${ElbowPitchCalibrationAngle}"/>

    	<xacro:simple_mechanism name="${ForearmYawJointName}" serial_number="${j5_serial_number}" node="${ForearmYawNode}" calibration_angle="${ForearmYawCalibrationAngle}"/>

    	<xacro:hand_mechanism mechanism_name="${prefix}Hand" serial_number="${forearm_serial_number}" index_node="${IndexNode}" middle_node="${MiddleNode}" pinky_node="${PinkyNode}" thumb_prox_node="${ThumbProxNode}" thumb_dist_node="${ThumbDistNode}" thumb_roll_node="${ThumbRollNode}" wrist_left_node="${WristLeftNode}" wrist_right_node="${WristRightNode}" />
    </xacro:macro>

</robot>
