<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

  <xacro:macro name="make_upper_arm" params="prefix reflect upper_arm_root_link">

    <xacro:standard_link name="${prefix}ShoulderPitchLink"
                    mass="${ShoulderPitchLinkMass}"
                    origin_xyz="${reflect*-0.012000} ${reflect*0.251000} 0.000000" origin_rpy="0 0 0"
                    ixx="${ShoulderPitchLinkInertia_IXX}" ixy="${ShoulderPitchLinkInertia_IXY}" ixz="${ShoulderPitchLinkInertia_IXZ}"
                    iyy="${ShoulderPitchLinkInertia_IYY}" iyz="${ShoulderPitchLinkInertia_IYZ}" izz="${ShoulderPitchLinkInertia_IZZ}"
                    visual_mesh="${arm_mesh_dir}/aj1_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj1_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ShoulderRollLink"
                    mass="${ShoulderRollLinkMass}"
                    origin_xyz="${reflect*-0.008513} ${reflect*0.020680} -0.001088" 
                    ixx="${ShoulderRollLinkInertia_IXX}" ixy="${ShoulderRollLinkInertia_IXY}" ixz="${reflect*-0.00003629}"
                    iyy="${ShoulderRollLinkInertia_IYY}" iyz="${reflect*-0.00008283}" izz="${ShoulderRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj2_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj2_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ShoulderYawLink"
                    mass="${ShoulderYawLinkMass}"
                    origin_xyz="-0.004304	${reflect*0.209832}	${reflect*0.007295}" 
                    ixx="${ShoulderYawLinkInertia_IXX}" ixy="${reflect*-0.007827077}" ixz="${reflect*-0.000753947}"
                    iyy="${ShoulderYawLinkInertia_IYY}" iyz="${reflect*0.002723873}" izz="${ShoulderYawLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj3_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj3_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ElbowPitchLink"
                    mass="${ElbowPitchLinkMass}"
                    origin_xyz="-0.020344	${reflect*0.014722} ${reflect*0.022300}"
                    ixx="${ElbowPitchLinkInertia_IXX}" ixy="${reflect*0.000535099}" ixz="${reflect*0.000728077}"
                    iyy="${ElbowPitchLinkInertia_IYY}" iyz="${ElbowPitchLinkInertia_IYZ}" izz="${ElbowPitchLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj4_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj4_${prefix}.dae" />

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderPitchJointName}"
                          parent="${upper_arm_root_link}" child="${prefix}ShoulderPitchLink"
                          origin_xyz="${ShoulderPitchFrameOrigin_X} ${ShoulderPitchFrameOrigin_Y} ${ShoulderPitchFrameOrigin_Z}"
                          origin_rpy="${ShoulderPitchFrameOrientation_Roll} ${ShoulderPitchFrameOrientation_Pitch} ${ShoulderPitchFrameOrientation_Yaw}" 
                          axis="${ShoulderPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderPitchTorqueLimit}" lower="${ShoulderPitchPositionLimit_Lower}" upper="${ShoulderPitchPositionLimit_Upper}" velocity="${ShoulderPitchVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderRollJointName}"
                          parent="${prefix}ShoulderPitchLink" child="${prefix}ShoulderRollLink"
                          origin_xyz="${ShoulderRollFrameOrigin_X} ${reflect * 0.2499} ${ShoulderRollFrameOrigin_Z}"
                          origin_rpy="${ShoulderRollFrameOrientation_Roll} ${ShoulderRollFrameOrientation_Pitch} ${ShoulderRollFrameOrientation_Yaw}" 
                          axis="${ShoulderRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${ShoulderRollPositionLimit_Lower}" upper="${ShoulderRollPositionLimit_Upper}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${reflect * ShoulderRollPositionLimit_Upper}" upper="${reflect * ShoulderRollPositionLimit_Lower}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderYawJointName}"
                          parent="${prefix}ShoulderRollLink" child="${prefix}ShoulderYawLink"
                          origin_xyz="${ShoulderYawFrameOrigin_X} ${ShoulderYawFrameOrigin_Y} ${ShoulderYawFrameOrigin_Z}"
                          origin_rpy="${ShoulderYawFrameOrientation_Roll} ${ShoulderYawFrameOrientation_Pitch} ${ShoulderYawFrameOrientation_Yaw}" 
                          axis="${ShoulderYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderYawTorqueLimit}" lower="${ShoulderYawPositionLimit_Lower}" upper="${ShoulderYawPositionLimit_Upper}" velocity="${ShoulderYawVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ElbowPitchJointName}"
                          parent="${prefix}ShoulderYawLink" child="${prefix}ElbowPitchLink"
                          origin_xyz="${ElbowPitchFrameOrigin_X} ${reflect * 0.33} ${ElbowPitchFrameOrigin_Z}"
                          origin_rpy="${ElbowPitchFrameOrientation_Roll} ${ElbowPitchFrameOrientation_Pitch} ${ElbowPitchFrameOrientation_Yaw}" 
                          axis="${ElbowPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${ElbowPitchPositionLimit_Lower}" upper="${ElbowPitchPositionLimit_Upper}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${reflect * ElbowPitchPositionLimit_Upper}" upper="${reflect * ElbowPitchPositionLimit_Lower}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>


  <xacro:macro name="make_lower_arm" params="prefix reflect lower_arm_root_link">
    <xacro:standard_link name="${prefix}ForearmLink"
                    mass="${ForearmYawLinkMass}"
                    origin_xyz="0.015000 ${reflect*0.13} 0.019564"
                    ixx="${ForearmYawLinkInertia_IXX}" ixy="${reflect*0.001300853}" ixz="${ForearmYawLinkInertia_IXZ}"
                    iyy="${ForearmYawLinkInertia_IYY}" iyz="${reflect*0.001695416}" izz="${ForearmYawLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj5_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj5_${prefix}.dae" />

    <xacro:standard_link name="${prefix}WristRollLink"
                    mass="${WristRollLinkMass}"
                    origin_xyz="0 ${reflect*0} 0"
                    ixx="${WristRollLinkInertia_IXX}" ixy="${reflect*0.000000125}" ixz="${reflect*0.000000036}"
                    iyy="${WristRollLinkInertia_IYY}" iyz="${WristRollLinkInertia_IYZ}" izz="${WristRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj6_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj6_${prefix}.dae" />

    <xacro:standard_link name="${prefix}Palm"
                    mass="${PalmMass}"
                    origin_xyz="0.002954 ${reflect*0.052034} -0.000236"
                    ixx="${PalmInertia_IXX}" ixy="${PalmInertia_IXY}" ixz="${reflect*0.000038828}"
                    iyy="${PalmInertia_IYY}" iyz="${reflect*-0.000023429}" izz="${PalmInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/palm_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/palm_${prefix}.dae"/>
    <xacro:gazebo_hand_contact link_name="${prefix}Palm" />

    <xacro:revolute_joint_ex jointName="${prefix}${ForearmYawJointName}"
                          parent="${lower_arm_root_link}" child="${prefix}ForearmLink"
                          origin_xyz="${ForearmYawFrameOrigin_X} ${ForearmYawFrameOrigin_Y} ${ForearmYawFrameOrigin_Z}"
                          origin_rpy="${ForearmYawFrameOrientation_Roll} ${ForearmYawFrameOrientation_Pitch} ${ForearmYawFrameOrientation_Yaw}" 
                          axis="${ForearmYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ForearmYawTorqueLimit}" lower="${ForearmYawPositionLimit_Lower}" upper="${ForearmYawPositionLimit_Upper}" velocity="${ForearmYawVelocityLimit}"/>
        <controller_gains Kp="${ForearmYawKp}" Kd="${ForearmYawKd}" Ki="${ForearmYawKi}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${WristRollJointName}"
                          parent="${prefix}ForearmLink" child="${prefix}WristRollLink"
                          origin_xyz="${WristRollFrameOrigin_X} ${reflect * 0.2871} ${WristRollFrameOrigin_Z}"
                          origin_rpy="${WristRollFrameOrientation_Roll} ${WristRollFrameOrientation_Pitch} ${WristRollFrameOrientation_Yaw}" 
                          axis="${WristRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${WristRollPositionLimit_Lower}" upper="${WristRollPositionLimit_Upper}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${reflect * WristRollPositionLimit_Upper}" upper="${reflect * WristRollPositionLimit_Lower}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${WristRollKp}" Kd="${WristRollKd}" Ki="${WristRollKi}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${WristPitchJointName}"
                          parent="${prefix}WristRollLink" child="${prefix}Palm"
                          origin_xyz="${WristPitchFrameOrigin_X} ${WristPitchFrameOrigin_Y} ${WristPitchFrameOrigin_Z}"
                          origin_rpy="${WristPitchFrameOrientation_Roll} ${WristPitchFrameOrientation_Pitch} ${WristPitchFrameOrientation_Yaw}" 
                          axis="${WristPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${WristPitchTorqueLimit}" lower="${WristPitchPositionLimit_Lower}" upper="${WristPitchPositionLimit_Upper}" velocity="${WristPitchVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${reflect * WristPitchPositionLimit_Upper}" upper="${reflect * WristPitchPositionLimit_Lower}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${WristPitchKp}" Kd="${WristPitchKd}" Ki="${WristPitchKi}"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>

  <xacro:macro name="make_arm" params="prefix reflect arm_root_link">
    <xacro:make_upper_arm prefix="${prefix}" reflect="${reflect}" upper_arm_root_link="${arm_root_link}" />
    <xacro:make_lower_arm prefix="${prefix}" reflect="${reflect}" lower_arm_root_link="${prefix}ElbowPitchLink" />
  </xacro:macro>

  <xacro:macro name="make_arm_no_hands" params="prefix reflect arm_root_link">
    <xacro:make_upper_arm prefix="${prefix}" reflect="${reflect}" upper_arm_root_link="${arm_root_link}" />
  </xacro:macro>

  <xacro:macro name="make_arm_mass_sims" params="prefix reflect arm_root_link">
    <xacro:standard_link name="${prefix}ShoulderPitchLink"
                    mass="${ShoulderPitchLinkMass}"
                    origin_xyz="${reflect*-0.012000} ${reflect*0.251000} 0.000000" origin_rpy="0 0 0"
                    ixx="${ShoulderPitchLinkInertia_IXX}" ixy="${ShoulderPitchLinkInertia_IXY}" ixz="${ShoulderPitchLinkInertia_IXZ}"
                    iyy="${ShoulderPitchLinkInertia_IYY}" iyz="${ShoulderPitchLinkInertia_IYZ}" izz="${ShoulderPitchLinkInertia_IZZ}"
                    visual_mesh="${arm_mesh_dir}/aj1_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj1_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ShoulderRollLink"
                    mass="${ShoulderRollLinkMass}"
                    origin_xyz="${reflect*-0.008513} ${reflect*0.020680} -0.001088" 
                    ixx="${ShoulderRollLinkInertia_IXX}" ixy="${ShoulderRollLinkInertia_IXY}" ixz="${reflect*-0.00003629}"
                    iyy="${ShoulderRollLinkInertia_IYY}" iyz="${reflect*-0.00008283}" izz="${ShoulderRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj2_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj2_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ShoulderYawLink"
                    mass="${ShoulderYawLinkMass}"
                    origin_xyz="-0.004304	${reflect*0.209832}	${reflect*0.007295}" 
                    ixx="${ShoulderYawLinkInertia_IXX}" ixy="${reflect*-0.007827077}" ixz="${reflect*-0.000753947}"
                    iyy="${ShoulderYawLinkInertia_IYY}" iyz="${reflect*0.002723873}" izz="${ShoulderYawLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/aj3_${prefix}.dae"
                    collision_mesh="${arm_mesh_dir}/aj3_${prefix}.dae" />

    <xacro:standard_link name="${prefix}ElbowPitchLink"
                    mass="${ForearmMassSimLinkMass}"
                    origin_xyz="-0.010000  ${reflect*0.13} 0.019564"
                    ixx="${ForearmMassSimInertia_IXX}" ixy="${reflect*0.001300853}" ixz="${ForearmMassSimInertia_IXZ}"
                    iyy="${ForearmMassSimInertia_IYY}" iyz="${reflect*0.001695416}" izz="${ForearmMassSimInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${arm_mesh_dir}/${prefix}_elbow_mass_sim.dae"
                    collision_mesh="${arm_mesh_dir}/${prefix}_elbow_mass_sim.dae" />

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderPitchJointName}"
                          parent="${arm_root_link}" child="${prefix}ShoulderPitchLink"
                          origin_xyz="${ShoulderPitchFrameOrigin_X} ${ShoulderPitchFrameOrigin_Y} ${ShoulderPitchFrameOrigin_Z}"
                          origin_rpy="${ShoulderPitchFrameOrientation_Roll} ${ShoulderPitchFrameOrientation_Pitch} ${ShoulderPitchFrameOrientation_Yaw}" 
                          axis="${ShoulderPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderPitchTorqueLimit}" lower="${ShoulderPitchPositionLimit_Lower}" upper="${ShoulderPitchPositionLimit_Upper}" velocity="${ShoulderPitchVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderRollJointName}"
                          parent="${prefix}ShoulderPitchLink" child="${prefix}ShoulderRollLink"
                          origin_xyz="${ShoulderRollFrameOrigin_X} ${reflect * 0.2499} ${ShoulderRollFrameOrigin_Z}"
                          origin_rpy="${ShoulderRollFrameOrientation_Roll} ${ShoulderRollFrameOrientation_Pitch} ${ShoulderRollFrameOrientation_Yaw}" 
                          axis="${ShoulderRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${ShoulderRollPositionLimit_Lower}" upper="${ShoulderRollPositionLimit_Upper}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${reflect * ShoulderRollPositionLimit_Upper}" upper="${reflect * ShoulderRollPositionLimit_Lower}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ShoulderYawJointName}"
                          parent="${prefix}ShoulderRollLink" child="${prefix}ShoulderYawLink"
                          origin_xyz="${ShoulderYawFrameOrigin_X} ${ShoulderYawFrameOrigin_Y} ${ShoulderYawFrameOrigin_Z}"
                          origin_rpy="${ShoulderYawFrameOrientation_Roll} ${ShoulderYawFrameOrientation_Pitch} ${ShoulderYawFrameOrientation_Yaw}" 
                          axis="${ShoulderYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderYawTorqueLimit}" lower="${ShoulderYawPositionLimit_Lower}" upper="${ShoulderYawPositionLimit_Upper}" velocity="${ShoulderYawVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${prefix}${ElbowPitchJointName}"
                          parent="${prefix}ShoulderYawLink" child="${prefix}ElbowPitchLink"
                          origin_xyz="${ElbowPitchFrameOrigin_X} ${reflect * 0.33} ${ElbowPitchFrameOrigin_Z}"
                          origin_rpy="${ElbowPitchFrameOrientation_Roll} ${ElbowPitchFrameOrientation_Pitch} ${ElbowPitchFrameOrientation_Yaw}" 
                          axis="${ElbowPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${ElbowPitchPositionLimit_Lower}" upper="${ElbowPitchPositionLimit_Upper}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${reflect * ElbowPitchPositionLimit_Upper}" upper="${reflect * ElbowPitchPositionLimit_Lower}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>

  <xacro:macro name="arm_transmissions_hw" params="prefix reflect">
    <xacro:simple_transmission jointName="${prefix}${ShoulderPitchJointName}" actuatorName="${prefix}${ShoulderPitchActuatorName}" nodeName="/trunk/${prefix}_arm_j1" actuatorApi="${ShoulderPitchApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderRollJointName}" actuatorName="${prefix}${ShoulderRollActuatorName}" nodeName="/${prefix}${ShoulderRollNode}" actuatorApi="${ShoulderRollApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderYawJointName}" actuatorName="${prefix}${ShoulderYawActuatorName}" nodeName="/${prefix}${ShoulderYawNode}" actuatorApi="${ShoulderYawApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ElbowPitchJointName}" actuatorName="${prefix}${ElbowPitchActuatorName}" nodeName="/${prefix}${ElbowPitchNode}" actuatorApi="${ElbowPitchApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${ForearmYawActuatorName}" actuatorName="${prefix}${ForearmYawActuatorName}" nodeName="/${prefix}${ForearmYawNode}" actuatorApi="${ForearmYawApi}"/> 
    <xacro:pushrod_transmission transmissionName="${prefix}WristTransmission" transmissionType="${WristTransmissionType}" joint1Name="${prefix}${WristPitchJointName}" joint2Name="${prefix}${WristRollJointName}" joint1Role="pitch" joint2Role="roll" actuator1Name="${prefix}${WristRightActuatorName}" actuator2Name="${prefix}${WristLeftActuatorName}" actuator1Node="/${prefix}${WristRightActuatorNode}" actuator2Node="/${prefix}${WristLeftActuatorNode}" actuator1Api="${WristRightActuatorApi}" actuator2Api="${WristLeftActuatorApi}" actuator1Role="bottom" actuator2Role="top"/>
    <xacro:simple_transmission jointName="${prefix}${IndexFingerPitch1ActuatorName}" actuatorName="${prefix}${IndexFingerPitch1ActuatorName}" nodeName="/${prefix}${IndexFingerNode}" actuatorApi="${IndexFingerApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${MiddleFingerPitch1ActuatorName}" actuatorName="${prefix}${MiddleFingerPitch1ActuatorName}" nodeName="/${prefix}${MiddleFingerNode}" actuatorApi="${MiddleFingerApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${PinkyPitch1ActuatorName}" actuatorName="${prefix}${PinkyPitch1ActuatorName}" nodeName="/${prefix}${PinkyFingerNode}" actuatorApi="${PinkyFingerApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${ThumbRollActuatorName}" actuatorName="${prefix}${ThumbRollActuatorName}" nodeName="/${prefix}${ThumbRollNode}" actuatorApi="${ThumbRollFingerApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${ThumbPitch1ActuatorName}" actuatorName="${prefix}${ThumbPitch1ActuatorName}" nodeName="/${prefix}${ThumbProximalNode}" actuatorApi="${ThumbProximalFingerApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${ThumbPitch2ActuatorName}" actuatorName="${prefix}${ThumbPitch2ActuatorName}" nodeName="/${prefix}${ThumbDistalNode}" actuatorApi="${ThumbDistalFingerApi}"/> 
  </xacro:macro>

  <xacro:macro name="arm_transmissions_no_hands" params="prefix">
    <xacro:simple_transmission jointName="${prefix}${ShoulderPitchJointName}" actuatorName="${prefix}${ShoulderPitchActuatorName}" nodeName="/trunk/${prefix}_arm_j1" actuatorApi="${ShoulderPitchApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderRollJointName}" actuatorName="${prefix}${ShoulderRollActuatorName}" nodeName="/${prefix}${ShoulderRollNode}" actuatorApi="${ShoulderRollApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderYawJointName}" actuatorName="${prefix}${ShoulderYawActuatorName}" nodeName="/${prefix}${ShoulderYawNode}" actuatorApi="${ShoulderYawApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ElbowPitchJointName}" actuatorName="${prefix}${ElbowPitchActuatorName}" nodeName="/${prefix}${ElbowPitchNode}" actuatorApi="${ElbowPitchApi}"/> 
  </xacro:macro>

  <xacro:macro name="arm_transmissions_sim" params="prefix">
    <xacro:simple_transmission jointName="${prefix}${ShoulderPitchJointName}" actuatorName="${prefix}${ShoulderPitchActuatorName}" nodeName="/trunk/${prefix}_arm_j1" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderRollJointName}" actuatorName="${prefix}${ShoulderRollActuatorName}" nodeName="/${prefix}${ShoulderRollNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderYawJointName}" actuatorName="${prefix}${ShoulderYawActuatorName}" nodeName="/${prefix}${ShoulderYawNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ElbowPitchJointName}" actuatorName="${prefix}${ElbowPitchActuatorName}" nodeName="/${prefix}${ElbowPitchNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${ForearmYawActuatorName}" actuatorName="${prefix}${ForearmYawActuatorName}" nodeName="/${prefix}${ForearmYawNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${WristRollJointName}" actuatorName="${prefix}${WristRollActuatorSimName}" nodeName="/${prefix}${WristRollActuatorNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${WristPitchJointName}" actuatorName="${prefix}${WristPitchActuatorSimName}" nodeName="/${prefix}${WristPitchActuatorNode}" actuatorApi="${SimApi}"/> 
  </xacro:macro>

  <xacro:macro name="arm_transmissions_sim_no_hands" params="prefix">
    <xacro:simple_transmission jointName="${prefix}${ShoulderPitchJointName}" actuatorName="${prefix}${ShoulderPitchActuatorName}" nodeName="/trunk/${prefix}_arm_j1" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderRollJointName}" actuatorName="${prefix}${ShoulderRollActuatorName}" nodeName="/${prefix}${ShoulderRollNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ShoulderYawJointName}" actuatorName="${prefix}${ShoulderYawActuatorName}" nodeName="/${prefix}${ShoulderYawNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${prefix}${ElbowPitchJointName}" actuatorName="${prefix}${ElbowPitchActuatorName}" nodeName="/${prefix}${ElbowPitchNode}" actuatorApi="${SimApi}"/> 
  </xacro:macro>

  <xacro:macro name="forearm_transmissions_sim" params="prefix">
    <xacro:simple_transmission jointName="${prefix}${ForearmYawActuatorName}" actuatorName="${prefix}${ForearmYawActuatorName}" nodeName="/${prefix}${ForearmYawNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${WristRollJointName}" actuatorName="${prefix}${WristRollActuatorSimName}" nodeName="/${prefix}${WristRollActuatorNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${prefix}${WristPitchJointName}" actuatorName="${prefix}${WristPitchActuatorSimName}" nodeName="/${prefix}${WristPitchActuatorNode}" actuatorApi="${SimApi}"/> 
  </xacro:macro>

</robot>
