<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_nodes">

    <xacro:property name="ForearmYawKp" value="1000" />
    <xacro:property name="ForearmYawKd" value="0.0" />
    <xacro:property name="ForearmYawKi" value="0.0" />
    <xacro:property name="WristPitchKp" value="500" />
    <xacro:property name="WristPitchKd" value="0" />
    <xacro:property name="WristPitchKi" value="0.0" />
    <xacro:property name="WristRollKp" value="500" />
    <xacro:property name="WristRollKd" value="0" />
    <xacro:property name="WristRollKi" value="0.0" />

    <xacro:property name="LowerNeckPitchKp" value="200" />
    <xacro:property name="LowerNeckPitchKd" value="0" />
    <xacro:property name="LowerNeckPitchKi" value="0.0" />
    <xacro:property name="NeckYawKp" value="50" />
    <xacro:property name="NeckYawKd" value="0" />
    <xacro:property name="NeckYawKi" value="0.0" />
    <xacro:property name="UpperNeckPitchKp" value="200" />
    <xacro:property name="UpperNeckPitchKd" value="0" />
    <xacro:property name="UpperNeckPitchKi" value="0.0" />

    <xacro:property name="ThumbRollKp" value="5.0" />
    <xacro:property name="ThumbRollKd" value="0.0" />
    <xacro:property name="ThumbRollKi" value="0.0" />
    <xacro:property name="ThumbPitch1Kp" value="5.0" />
    <xacro:property name="ThumbPitch1Kd" value="0.0" />
    <xacro:property name="ThumbPitch1Ki" value="0.0" />
    <xacro:property name="ThumbPitch2Kp" value="5.0" />
    <xacro:property name="ThumbPitch2Kd" value="0.0" />
    <xacro:property name="ThumbPitch2Ki" value="0.0" />
    <xacro:property name="ThumbPitch3Kp" value="5.0" />
    <xacro:property name="ThumbPitch3Kd" value="0.0" />
    <xacro:property name="ThumbPitch3Ki" value="0.0" />

</robot>
