<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <gazebo>
      <plugin filename="libval_gazebo.so" name="SharedMemorySimInterfacePlugin">
          <robotNamespace>/val</robotNamespace>
      </plugin>
    </gazebo>

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/common/xacro/api/valkyrie_sim_api.xacro"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/common/xacro/serial_numbers/valkyrie_A_serials.xacro"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/gazebo_harness.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/nodes/valkyrie_sim_nodes.xacro"/>

    <link name="world"/>
    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="leftPalm"/>
    </joint>

    <link name="leftPalm">
      <inertial>
        <mass value="0.1"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" 
                 iyy="0.001" iyz="0"
                 izz="0.001" />
        </inertial>  
        <visual>
          <geometry>
            <mesh filename="${mesh_root}/arms/palm_left.dae"/>
          </geometry>
        </visual>
        <collision>
        <geometry>
          <mesh filename="${mesh_root}/arms/palm_left.dae"/>
        </geometry>
      </collision>
    </link>

    <xacro:make_thumb prefix="left" reflect="1" thumb_root_link="leftPalm"/>
<!--     <xacro:make_index_finger prefix="left" reflect="1" index_finger_root_link="leftPalm"/>
    <xacro:make_middle_finger prefix="left" reflect="1" middle_finger_root_link="leftPalm"/>
    <xacro:make_pinky_finger prefix="left" reflect="1" pinky_finger_root_link="leftPalm"/> -->
    
    <xacro:thumb_transmissions_sim prefix="left"/>

    <xacro:add_sim_harness harnessed_link="leftPalm" />    

</robot>
